* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body {
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 156px;
}

h2 {
    margin-top: 126px;
    margin-bottom: 11px;
    color: #fff;
    font-size: 32px;
    font-weight: 400;
}

.input-left {
    margin-right: 62px;
}

.input-right {
    margin-right: 62px;
}

label {
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
}

input {
    width: 342px;
    height: 74px;
    padding-left: 20px;
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.25);
    color: #FFF;
    font-size: 40px;
    font-weight: 500;
    line-height: 47px;
    opacity: 0.7;
}

button {
    margin-top: 80px;
    width: 342px;
    height: 72px;
    padding: 0px 76px;
    border-radius: 10px;
    background: #AEC346;
    box-shadow: 0px 18px 40px 0px rgba(174, 195, 70, 0.35);
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    cursor: pointer;
    border: none;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.4;
}

@media screen and (max-width: 700px) {

    body{
        margin-top: 100px;
    }

    div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    img {
        width: 250px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    input {
        max-width: 200px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 25px;
    }

    .input-left{
        margin-bottom: 10px;
        position: relative;
        left: 32px;
    }

    .input-right{
        margin-bottom: 10px;
        position: relative;
        left: 32px;
    }

    .result-input{
        margin-top: 10px;
    }

    h2 {
        font-size: 25px;
    }

    label {
        font-size: 25px;
        text-align: center;
    }

    button {
        max-width: 200px;
        height: 50px;
        font-size: 25px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}